

/* main .card {
    flex-direction: row;
    display: flex;
    width: 15%;
    padding: 25px;
    margin: 25px;
    
} */
.one {
    margin-top: 0px;
    padding-bottom: 0px;
}
.two {
    padding-top: 0%;
}
.card {
 margin-top: 50px;
  margin-left: 20px;
  
    
}

.container {
    position: absolute;
    margin: 100px;
}

.row {
    padding: 65px;
}

.p-1 {
    margin-right: 15px;
    border-radius: 5;
}